
<div class="main-container">
    <form #form1="ngForm" (ngSubmit)="OnSubmit(form1)">

        <div class="form-group">
            <label>
            Name:
            <input 
            type="text" 
            name="name" 
            [(ngModel)]="name"
            required
            placeholder="Enter your name"
            minlength="3"
            >
        </label>
        <br>
        <label for="email">
            Email:
            <input 
                type="email" 
                id="email" name="email" 
                [(ngModel)]="email"
                required
                placeholder="Enter your email"
                email>
        </label>
        <br>
        
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>